
@font-face {
  font-family: 'EternalCall';
  src: url('EternalCall.eot?#iefix') format('embedded-opentype'),  url('EternalCall.woff') format('woff'), url('EternalCall.ttf')  format('truetype'), url('EternalCall.svg#EternalCall') format('svg');
  font-weight: normal;
  font-style: normal;
}
